{% extends "base/base.html" %}
{% block title %}
  DFRS Domain: Report Vulnerability
{% endblock title %}
{% load tailwind_filters %}
{% block content %}
  {% include "publicview/nav.html" %}
  {# djlint:off H021,H023,H006,H029,H012 #}
  <div class="relative isolate bg-white">
    <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
      <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
        <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
          <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden bg-gray-100 ring-1 ring-gray-900/10 lg:w-1/2">
            <svg class="absolute inset-0 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
                 aria-hidden="true">
              <defs>
              <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="100%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M130 200V.5M.5 .5H200" fill="none" />
              </pattern>
              </defs>
              <rect width="100%" height="100%" stroke-width="0" fill="white" />
              <svg x="100%" y="-1" class="overflow-visible fill-gray-50">
                <path d="M-470.5 0h201v201h-201Z" stroke-width="0" />
              </svg>
              <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
            </svg>
          </div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">DFRS Reporting Form</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            {% comment %} THis needs to be changed, I copied it from here https://english.ncsc.nl/contact/reporting-a-vulnerability-cvd/cvd-report-form  {% endcomment %}
            In the event you find a technical vulnerability in one of the Dutch Central Government's systems, you can report the identified vulnerability to the National Cyber Security Centre. This kind of report is known as a Coordinated Vulnerability Disclosure or CVD. You can find more information about this and other types of reports handled by the NCSC in our CVD policy.
          </p>
          <dl class="mt-10 space-y-4 text-base leading-7 text-gray-600">
            <div class="flex gap-x-4">
              <dt class="flex-none">
                <span class="sr-only">Email</span>
                <svg class="h-7 w-6 text-gray-400"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                </svg>
              </dt>
              <dd>
                <a class="hover:text-gray-900" href="mailto:hello@example.com">admin@dfrs.com</a>
              </dd>
            </div>
            <div class="flex gap-x-4">
              <dt class="flex-none">
                <span class="sr-only">Data Deletion</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
                
              </dt>
              <dd>
                <a class="text-red-500 hover:text-gray-900" href={% url 'gdprview' %}>
                  Request Data Deletion
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <form method="POST" class="px-6 pb-24 pt-20 sm:pb-32 lg:px-8 lg:py-48">
        {% if messages %}
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="rounded-md bg-blue-50 p-2">
              <div class="flex">
                <div class="ml-3">
                  <div class="mt-1 text-sm text-blue-700">
                    <ul role="list" class="list-disc space-y-1 pl-5">
                      {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% csrf_token %}
        <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
          {{ form | crispy }}
          {% comment %} <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">{{ form | crispy }}</div> {% endcomment %}
          <div class="mt-8 flex justify-end">
            <button type="submit"
                    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Report Vulnerability
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
