<div class="px-4 sm:px-6 lg:px-8 mt-2  p-4 rounded border-2 ">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Employees</h1>
      <p class="mt-2 text-sm text-gray-700">
        A list of all the employees (cyberdetectives) registered on the reporting system.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <a href={% url 'register-employee' %}>
        <button type="button"
                class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Create Employee
        </button>
      </a>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col"
                  class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0">
                Username
              </th>
              <th scope="col"
                  class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Email</th>
              <th scope="col"
                  class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Date Joined</th>
              <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% for cyberdetective in cyberdetectives %}
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ cyberdetective.username }}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ cyberdetective.email }}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ cyberdetective.date_joined }}</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <a href="{% url 'employee-detail' cyberdetective.id %}" class="text-indigo-600 hover:text-indigo-900">View</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
