{% extends "base/base.html" %}
{% block title %}
  DFRS Domain: Employee
{% endblock title %}
{% block content %}
  {# djlint:off H021,H023,H006,H029 #}
  {% include "employeeview/nav.html" with user_id=user_id %}
  <div class="min-h-full">
    <header class="bg-white shadow-sm">
      <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
        <h1 class="text-lg font-semibold leading-6 text-gray-900">Vulnerabilities</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">{% include "employeeview/reports.html" with flaws=flaws %}</div>
    </main>
  </div>
{% endblock content %}
