<div class="px-12 sm:px-12 lg:px-12 h-5/6 overflow-y-auto p-10 rounded border-6" style="margin-right: 15%;padding-left: 2%;">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">List of Flaws</h1>
        
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300 order-separate border-spacing-0">
            <thead>
              <tr>
                <th scope="col" class="sticky top-0 z-10 px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Type</th>
                <th scope="col" class="sticky top-0 z-10 px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Severity</th>
                <th scope="col" class="sticky top-0 z-10 px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Description</th>
                <th scope="col" class="sticky top-0 z-10 px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500" style="padding-left: 5%;">Action</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for flaw in flaws %}
                <tr>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ flaw.type }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ flaw.severity }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ flaw.description }}</td>
                  <td class="flex items-center px-6 py-4 space-x-3">
                  <a href="{% url 'edit-flaw' user_id=user_id flaw=flaw.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>                    
                  <a href="{% url 'remove-flaw' user_id=user_id flaw=flaw.id %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  